<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-navbar></app-navbar>
<div class="container" style="min-height: 85vh;">
  <div class="row">
    <div class="col-sm-12 col-md-3 mr-4">
      <app-aside></app-aside>
    </div>
    <div class="col-sm-12 col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>
